#Ignore dependencies
node_modules/

#Ignore .env
.env
#Ignore servive account file within
backend/secrets.env
backend/secrets/
.vite/
embeddable-repo/.embeddable-build
embeddable-repo/.embeddable-dev-build
