@import '~@embeddable.com/remarkable-pro/dist/remarkable-pro.css';

:host {
    display: block;
    height: 100%;
    width: 100%;
}
  
.container {
    height: 100%;
    width: 100%;
    max-width: unset;
}